body {
    background-color: aquamarine;
    
}

h1 {
    color: fuchsia;
    display: flex;
    justify-content: center;
    font-size: 40pt;
    background-color: black;

}
.hello{
    color: white;
}

header{
    background-color: gold;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    

}
a{
    padding: 5px;
    font-size: 25pt;
}

h3{
    text-decoration: underline;
    font-size: 20pt;
    color: fuchsia;
}

button {
    background-color: blueviolet;
    color: aquamarine;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}