<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupcaketopia</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <header>
        <a href="http://localhost:8000/cupcakes">Menu</a>
        <a href="http://localhost:8000/order">Shopping Cart</a>
        <a href="http://localhost:8000">Home</a>
    </header>

 <h1>Welcome to Cupcaketopia</h1>   
 <h2>Where we are serious about cupcakes!</h2>
 <p>Don't be shy! Feel free to browse our site and check out our menu, place an order or return here to our home page!</p>
</body>
</html>
